<!DOCTYPE html>
<html>
<head>
  <title>Hogwarts Student Records</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/students">Show All Students</a></li>
      <li><a href="/students/new">Enroll New Student</a></li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
